/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.s-2 > div div h2 {
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}

.s-2 > div div p {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  width: 324.079px;
  color: #282938;
}

.abus-s-2, .abus-s-1, footer .ftr-container .ftr-box, .s-3, .s-2 > div, body header > div {
  max-width: 1280px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

body header {
  background-color: #1C1E53;
}
body header > div {
  padding: 16px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1672px) {
  body header > div {
    width: 95%;
  }
}
body header > div .logo {
  width: 122px;
  height: 45px;
}
body header > div .fa-bars {
  display: none;
  width: 32px;
  height: 32px;
  color: #2405F2;
}
body header > div .nav-bar {
  width: 706px;
  padding: 16px 0;
}
body header > div .nav-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body header > div .nav-bar ul li {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
body header > div .nav-bar ul li a {
  color: #BBBBCB;
}
body header > div .nav-bar ul li .active {
  color: #FFFFFF;
}
body header > div .nav-bar ul li .Contact {
  width: 185px;
  padding: 16px 48px;
  border-radius: 41px;
  border: 2px solid rgba(244, 246, 252, 0.2);
}
body header > div .nav-bar ul li .Contact:hover {
  background-color: #1B1C2B;
  color: #FFFFFF;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.s-1 {
  max-width: 100%;
  width: 100%;
  background-color: #1C1E53;
}
.s-1 > div {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 122px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1064px) {
  .s-1 > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 1672px) {
  .s-1 > div {
    width: 95%;
  }
}
.s-1 > div img {
  width: 478px;
  height: 395px;
}
.s-1 > div > div {
  width: 582px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 1064px) {
  .s-1 > div > div {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.s-1 > div > div h1 {
  color: #FFFFFF;
  font-family: Poppins;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: 74px;
  margin-bottom: 24px;
}
.s-1 > div > div p {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: #BBBBCB;
  margin-bottom: 48px;
}
.s-1 > div > div a div {
  color: #1B1C2B;
  width: 230px;
  padding: 16px 56px;
  border-radius: 41px;
  background-color: #FCD980;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  cursor: pointer;
}
.s-1 > div > div a div:hover {
  background-color: #FDE4A6;
  color: #585858;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.s-2 {
  max-width: 100%;
  width: 100%;
  text-align: center;
  padding: 128px 160px;
  background-color: #F4F6FC;
  margin-bottom: 128px;
}
.s-2 .headline {
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  color: #282938;
  margin-bottom: 47px;
  width: 630px;
  margin: 0 auto;
  margin-bottom: 47px;
}
.s-2 > div {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.s-2 > div div {
  width: 405px;
  padding: 58px;
  background-color: #FFFFFF;
  text-align: start;
  margin-bottom: 24px;
}
.s-2 > div div .fa-bottle-water {
  width: 32px;
  height: 32px;
  color: #2405F2;
}
.s-2 > div div .fa-seedling {
  width: 32px;
  height: 32px;
  color: #2405F2;
}
.s-2 > div div .fa-fish-fins {
  width: 32px;
  height: 32px;
  color: #2405F2;
}
.s-2 > div div .fa-bed {
  width: 32px;
  height: 32px;
  color: #2405F2;
}
.s-2 > div div .fa-glass-water {
  width: 32px;
  height: 32px;
  color: #2405F2;
}
.s-2 > div div .fa-carrot {
  width: 32px;
  height: 32px;
  color: #2405F2;
}
.s-2 > div div h2 {
  width: 314.748px;
  margin-bottom: 12px;
}
.s-3 {
  margin-bottom: 128px;
}
.s-3 .bg-box {
  width: 656px;
  background-image: url(https://img.freepik.com/premium-photo/healthy-lifestyle-food-sport-concept-athlete-s-equipment-fresh-fruit-black-background_61573-3387.jpg);
  padding: 96px 110px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.s-3 .bg-box h2 {
  font-family: Poppins;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 74px;
  color: #FFFFFF;
}
.s-3 .login {
  width: 624px;
  background-color: #1C1E53;
  padding: 48px 96px;
}
.s-3 .login h3 {
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.s-3 .login h4 {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  color: #FFFFFF;
  margin-bottom: 40px;
}
.s-3 .login form input {
  width: 432px;
  border-radius: 8px;
  outline: none;
  border: 1.5px solid rgba(255, 255, 255, 0.05);
  padding: 18px 32px;
  background-color: #1C1E53;
  color: #F4F6FC;
  margin-bottom: 16px;
}
.s-3 .login form #submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 432px;
  padding: 15px 51px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  background-color: #FCD980;
  border-radius: 41px;
  color: #1B1C2B;
  cursor: pointer;
}
.s-3 .login form #submit:hover {
  background-color: #FDE4A6;
  color: #585858;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

footer {
  max-width: 100%;
  width: 100%;
  background-color: #1C1E53;
  padding: 104px 159px;
  padding-bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .ftr-container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
footer .ftr-container .ftr-box {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .ftr-container .ftr-box div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 399px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .ftr-container .ftr-box div .logo {
  width: 122px;
  height: 45px;
  margin-bottom: 23.6px;
}
footer .ftr-container .ftr-box div p {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  color: #FFFFFF;
  margin-bottom: 28px;
}
footer .ftr-container .ftr-box div {
  width: 399px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .ftr-container .ftr-box div h2 {
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  color: #FFFFFF;
  margin-bottom: 14px;
}
footer .ftr-container .ftr-box div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 101.33px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .ftr-container .ftr-box div div .ft-logo {
  width: 16px;
  height: 16px;
}
footer .ftr-container .yellow-box {
  max-width: 517px;
  width: 100%;
  padding: 18px 37px;
  background-color: #FCD980;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .ftr-container .yellow-box .email {
  width: 181px;
  margin-right: 29px;
}
footer .ftr-container .yellow-box .email h3 {
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  color: #282938;
  margin-bottom: 1px;
}
footer .ftr-container .yellow-box .email a {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: #282938;
}
footer .ftr-container .yellow-box .tel {
  width: 133px;
}
footer .ftr-container .yellow-box .tel h3 {
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  color: #282938;
  margin-bottom: 1px;
}
footer .ftr-container .yellow-box .tel a {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: #282938;
}

.abus-s-1 {
  padding-top: 128px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 128px;
}
.abus-s-1 div {
  width: 595px;
  padding-top: 24px;
  padding-bottom: 9px;
}
.abus-s-1 div h4 {
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  color: #282938;
  margin-bottom: 8px;
}
.abus-s-1 div h3 {
  width: 100%;
  font-family: Poppins;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 74px;
  color: #282938;
  margin-bottom: 31px;
}
.abus-s-1 div p {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: #282938;
}
.abus-s-1 img {
  width: 547px;
  height: 336px;
}

.abus-s-2 {
  border: 2px solid red;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.abus-s-2 .text-cont {
  width: 100%;
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.abus-s-2 .text-cont div {
  width: 515px;
}
.abus-s-2 .text-cont div h5 {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  color: #282938;
  margin-bottom: 4px;
}
.abus-s-2 .text-cont div h3 {
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  color: #282938;
  margin-bottom: 16px;
}
.abus-s-2 .text-cont div P {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: #282938;
  width: 515px;
}
.abus-s-2 img {
  width: 100%;
  height: 340px;
}/*# sourceMappingURL=global.css.map */