%card-headline{
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}
%card-text{
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    max-width: 324.079px;
    width: 100%;
    color: $DarkBlue;
}
%logo{
    width: 16px;
    height: 16px;
}
%container{
    max-width: 1280px;
    width: 100%;
    display: flex;
    margin: 0 auto;
}
%form-placeholder{
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    color: $text-color-black;
    width:100%;
    padding: 18px 32px;
    background-color: $Grey;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
}