%card-headline{
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}
%card-text{
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    width: 324.079px;
    color: $DarkBlue;
}
%logo{
    width: 16px;
    height: 16px;
}