$RoyalBlueP: #2405F2;
$TintBlue: #1C1E53;
$DarkBlue: #282938;
$Yellow: #FCD980;
$Grey: #F4F6FC;
$Accent: #EEF4FA;
$text-color-black: #0000;
$text-color-blue: #2405F2;
$text-color-yellow: #FCD980;
$text-color-white: #FFFFFF;
$hover-background-color: #FDE4A6;
$hover-color: #585858;
