body{
    header{
        background-color: $TintBlue;
        &>div{
            @extend %container;
            padding: 16px 0;
            justify-content: space-between;
            @media(max-width:1672px){
                width: 95%;
            }
            .logo{
                width: 122px;
                height: 45px;
            }
            .fa-bars{
                display: none;
                @include icon
            }
            .nav-bar{
                width: 706px;
                padding: 16px 0;
                ul{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    li{
                        font-family: Poppins;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        a{
                            color: $text-color-lightblue;
                        }
                        .active{
                            color: $text-color-white;
                        }
                        .Contact{
                            width: 185px;
                            
                            padding: 16px 48px;
                            border-radius: 41px;
                            border: 2px solid rgba(244, 246, 252, 0.20);
                            &:hover{
                                background-color: $link-color-black;
                                color: $text-color-white;
                                transition: 0.7s;
                            }
                        }
                    }
                }
            }
        }
    }
}