.s-2{
    max-width: 100%;
    width: 100%;
    text-align: center;
    padding: 128px 160px;
    background-color: $Grey;
    margin-bottom: 128px;
    &>p{
        max-width: 630px;
        font-family: Poppins;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 64px;
        color: $DarkBlue;
        margin-bottom: 47px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 47px;
        @media(max-width: 510px){
            font-size: 30px;
        }
        @media(max-width: 430px){
            font-size: 23px;
            line-height: 30px;
        }
    }
    &>div{
        @extend %container;
        flex-wrap: wrap;
        justify-content: space-between;
        @media (max-width:1920px){
            justify-content: space-evenly;
        }
        div{
            max-width: 405px;
            width: 100%;
            padding: 58px;
            background-color: $text-color-white;
            text-align: start;
            margin-bottom: 24px;
            @media(max-width: 1126px){
                text-align: center;
            }
            @media (max-width: 490px){
                padding: 10px;
                width: 200px;
            }
            .fa-bottle-water{
                @include icon;
                @media (max-width: 490px){
                    width: 22px;
                    height: 22px;
                }
            }
            .fa-seedling{
                @include icon;
                @media (max-width: 490px){
                    width: 22px;
                    height: 22px;
                }
            }
            .fa-fish-fins{
                @include icon;
                @media (max-width: 490px){
                    width: 22px;
                    height: 22px;
                }
            }
            .fa-bed{
                @include icon;
                @media (max-width: 490px){
                    width: 22px;
                    height: 22px;
                }
            }
            .fa-glass-water{
                @include icon;
                @media (max-width: 490px){
                    width: 22px;
                    height: 22px;
                }
            }
            .fa-carrot{
                @include icon;
                @media (max-width: 490px){
                    width: 22px;
                    height: 22px;
                }
            }
            h2{
                max-width: 314.748px;
                width: 100%;
                @extend %card-headline;
                margin-bottom: 12px;
                @media (max-width: 490px){
                    font: size 16px;
                }
                @media(max-width: 460px){
                    font-size: 10px;
                }
                @media(max-width: 404px){
                    font-size: 10px;
                    line-height: 16px;
                }
            }
            p{
                @extend %card-text;
                @media(max-width: 490px){
                    font-size: 12px;
                }
                @media(max-width: 460px){
                    font-size: 8px;
                }
                @media(max-width: 430px){
                    font-size: 6px;
                    line-height: 6px;
                }
            }
        }
    }
}