.s-3{
    @extend %container;
    margin-bottom: 128px;
    flex-wrap: wrap;
    @media(max-width:1280px){
        width: 90%;
        justify-content: center;
    }
    .bg-box{
        max-width: 656px;
        width: 100%;
        background-image: url(https://img.freepik.com/premium-photo/healthy-lifestyle-food-sport-concept-athlete-s-equipment-fresh-fruit-black-background_61573-3387.jpg);
        padding: 96px 120px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        @media(max-width: 490px){
            padding: 60px  68px;
        }
        @media(max-width:360px){
            padding: 48px 55px;
        } 
        h2{
            font-family: Poppins;
            font-size: 54px;
            font-style: normal;
            font-weight: 600;
            line-height: 74px;
            color: $text-color-white;
            @media(max-width:635px){
                font-size: 30px;
                line-height: 55px;
            } 
            @media(max-width: 490px){
                font-size: 25px;
                text-align: center;
                line-height: 46px;
            }
            @media(max-width:360px){
                font-size: 20px;
                line-height: 37px;
            } 
        }
    }
    .login{
        max-width: 624px;
        width: 100%;
        background-color: $TintBlue;
        padding: 48px 96px;
        @media(max-width:1280px){
            text-align: center;
        }
        @media(max-width:360px){
            padding: 24px;
        } 
        h3{
            font-family: Poppins;
            font-size: 32px;
            font-style: normal;
            font-weight: 500;
            line-height: 48px;
            color: $text-color-white;
            margin-bottom: 16px;
        }
        h4{
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
            color: $text-color-white;
            margin-bottom: 40px;
        }
        form{
            input{
                max-width: 432px;
                width: 100%;
                border-radius: 8px;
                outline: none;
                border: 1.5px solid rgba(255, 255, 255, 0.05);
                padding: 18px 32px;
                background-color: $TintBlue;
                color: $Grey;
                margin-bottom: 16px;
                &:hover{
                    border: 1px solid white;
                }
                @media(max-width: 1280px){
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                }
                @media(max-width:360px){
                    padding: 18px 16px;
                    font-size: 10px;
                } 
            }
            #submit{
                display: flex;
                max-width: 432px;
                width: 100%;
                padding: 15px 51px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                background-color: $Yellow;
                border-radius: 41px;
                color: $link-color-black;
                cursor: pointer;
                &:hover{
                    border: none;
                    background-color: $hover-background-color;
                    color: $hover-color;
                    transition: 0.7s;
                }
                @media(max-width:360px){
                    padding: 18px 16px;
                    font-size: 10px;
                    max-width: 100%;
                } 
            }
        }
    }
}
