.s-2{
    max-width: 100%;
    width: 100%;
    text-align: center;
    padding: 128px 160px;
    background-color: $Grey;
    margin-bottom: 128px;
    &>p{
        max-width: 630px;
        font-family: Poppins;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 64px;
        color: $DarkBlue;
        margin-bottom: 47px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 47px;
        
    }
    &>div{
        @extend %container;
        flex-wrap: wrap;
        justify-content: space-between;
        @media (max-width:1920px){
            justify-content: space-evenly;
        }
        div{
            width: 405px;
            padding: 58px;
            background-color: $text-color-white;
            text-align: start;
            margin-bottom: 24px;
            .fa-bottle-water{
                @include icon
            }
            .fa-seedling{
                @include icon
            }
            .fa-fish-fins{
                @include icon
            }
            .fa-bed{
                @include icon
            }
            .fa-glass-water{
                @include icon
            }
            .fa-carrot{
                @include icon
            }
            h2{
                width: 314.748px;
                @extend %card-headline;
                margin-bottom: 12px;
            }
            p{
                @extend %card-text
            }
        }
    }
}