.abus-s-2{
    @extend %container;
    flex-direction: column;
    background-color: $Grey;
    .text-cont{
        width: 100%;
        padding: 80px 0;
        display: flex;
        justify-content: space-evenly;
        div{
            max-width: 515px;
            width: 100%;
            h5{
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 28px;
                color: $DarkBlue;
                margin-bottom: 4px;
            }
            h3{
                font-family: Poppins;
                font-size: 38px;
                font-style: normal;
                font-weight: 600;
                line-height: 56px;
                color: $DarkBlue;
                margin-bottom: 16px; 
            }
            P{
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px;
                color: $DarkBlue;
                max-width: 515px;
                width: 100%;
            }
        }
        .text-box{
            padding-top: 28px;
        }
    }
    img{
        width: 100%;
        height: 340px;
    }
}